
body {
  font-family: sans-serif, Arial;
  color: #3F2860;
  background-color: #EFF4F7;
  font-size: 16px;
  line-height: 1.5;
  }

  
    

header {
    color: #000000;
    background-color:#bab0a0;
    text-align: center;
    height: 100px;
    font-family: verdana;
  }

header > h1 {
    line-height: 200%;
    padding-top: 16px;
  }


nav  ul{
    list-style-type: none;
    text-align: center;
    padding: 8px;
    height: 100px;
  }
nav ul li{
  display: inline;
  padding: 25px;
}

nav ul li a{
  text-decoration: none;
  padding: 5px;
  font-family: verdana;
  }

a:hover{
  color: #fff;
  background-color:#7f869a;
  border-radius:5px;
}

a:visited{
  color:#003366;
}
  
main {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding: 16px;
  border: 2px solid#a6a0ba;
  border-radius: 20px;
}

section{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color:#e4d8c5 ;
}

.services{
  float: left;
  width: 47%;
  height: 450px;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 20px;
  box-sizing: border-box;
}

.services img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 200px;
  max-width: 100%;
  }

.btn button{
  background-color:#B8195A ;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid #B8195A;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}
p{ text-align: center;}

footer {
  background-color: #bab0a0;
  font-size: 0.9em;
  text-align: center;
    color: #000000;
    font-family: Arial;
    padding: 16px;
    margin-top: 32px;
}

footer a{
  color: #000000;
}

.active{
  border-bottom: 3px solid #32312f;
}
