body {
    background-color: #1e2125;
  }

h1 {
    color: #ffffff;
    font-family: verdana;
  }

h2 {
    color: #ffffff;
    font-family: verdana;
  }

h3 {
    color: #ffffff;
    font-family: verdana;

  }

nav {
    color: #ffffff;
    font-family: Arial;

  }

  a{
    color: #ffffff;
    font-family: Arial;

  }

  li{
    color: #cccccc;
    font-family: Arial;
    text-align: left;

  }

article{
    color: #cccccc;
    font-family: Arial;

  }

p {
    color: #aaaaaa;
    font-family: Arial;

  }

footer {
    color: #aaaaaa;
    font-family: Arial;

}

.box {
  text-align: center;
  height: 140px;
  width: 400px;
  background-color: #4e4e4e;
  border: 2px solid #aaaaaa;
  border-radius: 15px;
  padding: 15px;
  z-index: -1;
}